footer {
  // height: 3rem;
  padding: 1rem 0;
  background-color: rgb(28, 53, 63);
  margin-top: auto;
  font-size: 1.3rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  // position: absolute;
  // width: 100%;
  // bottom: 0;
  // right: 0;
  // left: 0;
}
