* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

@-webkit-keyframes slide-down {
  0% {
    top: -20%; }
  100% {
    top: 10%; } }

@-moz-keyframes slide-down {
  0% {
    top: -20%; }
  100% {
    top: 10%; } }

@-ms-keyframes slide-down {
  0% {
    top: -20%; }
  100% {
    top: 10%; } }

@-o-keyframes slide-down {
  0% {
    top: -20%; }
  100% {
    top: 10%; } }

@keyframes slide-down {
  0% {
    top: -20%; }
  100% {
    top: 10%; } }

body {
  background-color: #ecf5ff;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column; }
  body .flashMessage {
    font-size: 1.39rem;
    border: 1px solid grey;
    height: 40px;
    min-width: 129px;
    width: auto;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10vh;
    left: 45%;
    background-color: grey;
    color: white;
    font-weight: bolder;
    -webkit-animation: slide-down 1s ease-out;
    -moz-animation: slide-down 1s ease-out;
    -ms-animation: slide-down 1s ease-out;
    -o-animation: slide-down 1s ease-out;
    animation: slide-down 1s ease-out; }
